html  {
  font-size: 18px;
  line-height: 1.4;
}

/*Banner*/
#banner {
  background-image: url('../images/glasses-bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 30rem;
  font-family: Helvetica;

}

/*Navigation*/
#navigation {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  align-items: center;
  background-color: cadetblue;
  color: white;
  top: 1rem;
}

.container  {
  width: 960px;
  margin: auto;
  position: relative;
}

#logo {
  display: flex;
}

#logo img {
  height: 1rem;
  padding-left: 2rem;
  padding-right: 1rem;
}

nav {
  display: flex;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

nav p {
  padding-right: 2rem;
}

/*Header*/
#banner h1  {
  display: inline-flex;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
  background-color: white;
  padding: 1.5rem 5rem;
  margin-top: 10rem;
  position: absolute;
  right: 8rem;
}


/*Features*/
#features {
  display: flex;
  justify-content: space-around;
}

.icon {
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-right: 6rem;
  height: 8rem;
  width: 5rem;
  display: block;
  justify-content: center;
  position: relative;

}

.icon img {
  max-width: 100%;
  height: auto;
  display: block;
  max-height: 100%;
  width: auto;
  margin: auto;

}

.icon p {
  display: block;
  position: absolute;
  bottom: 0;
  text-align: center;
  justify-content: center;

}

#paper  {
  width: 3.5rem;
  display: flex;
  margin-right: 0;
}

/*Philosophy/Appointments*/
#PhilosophyAppointments {
  display: flex;
  justify-content: space-around;
}

.item {
  margin-top: 3rem;
  width: 35%;
  margin-right: 5%;

}

.item h2 {
  width: 10rem;
  padding: 0.5rem 0 0.5rem 1.25rem;
  background-color: cadetblue;
  margin-bottom: 1rem;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 1rem;
  color: white;
}

.item p {

}

/*Cpyright*/
